/*admin---add*/
*{
    margin:0px 0px;
}
body{
    min-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
    margin:0;
    text-transform:lowercase;
    font-weight:normal;
    color:#78cc00;
    letter-spacing: -1px;
    font-size: 32px;
}
/*
.cms-header{
    background-color:rgba(119, 149, 150, 0.22);

}
*/
.cms-body{
    width:100%;
/*    min-height: 600px;*/
    background-color:rgba(132, 222, 189, 0);
}
.cms-title{
    margin: 0;
    width:100%;
    height: 89px;
    line-height: 80px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    background-color:rgba(5, 40, 117, 0.99);
}
.cms-sidebar{
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    font-size: 20px;
    margin: 20px 0px;
    padding: 38px 50px;
    
}

.cms-content{
    margin: 0 0;
    min-height: 600px;
    padding-left: 50px;
    padding-bottom: 60px;
    border-left: 1px solid rgba(125, 122, 122, 0.36);
}
.manage-article,.post-article{
    text-align: center;
    color: #2D5679;
    padding: 50px 30px 10px;
}

.article-title,.article-author{
    margin-top: 50px;
}
.article-desc,.article-content{
    margin-top: 80px;
    
}
label{
    font-size:20px;
    padding: 5px 10px;
    text-align: right;
    
}
input{
    line-height:30px;
}
textarea{
    border-color: #dfdfdf;
}
.article-save{
    margin: 20px;
    padding: 50px 10px 10px 10px;
    text-align: right;
}
.cms-footer{
    line-height: 80px;
    font-size: 16px;
    height: 80px;
    background-color: black;
    color: aliceblue;
}

/*manage.php*/
table{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    line-height: 30px;
}
/*article.index.php*/
.navbar-wrapper{
    height: 90px;
    background: #7ACF00 url(../img/images/img03.jpg);
}
.cms-front-body{
    margin:50px 0px;
    
}
.navbar-wrapper .container{
    width: 100%;
    height: 80px;
    margin: 0 auto 20px auto;
    padding-top: 10px;
}
#logo h1 a{
    color: #fff; 
    text-decoration:none;
}
#navbar{
    float: right;
}
.cms-menu ul{
    list-style: none;
    margin: 0px;
    padding: 28px 0 0 0;
}
.cms-menu li{
    display: inline;
}
.cms-menu ul li a{
    display: block;
    float: left;
    margin-left: 5px;
    background: #6ab000;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    line-height: 26px;
}
.cms-menu ul li a:hover{
    background:rgba(193, 224, 147, 0.78);
}
/*article-list*/
.article-info{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 10px solid #ededed;
}
.article{
    margin-left: 70px;
    margin-right: 15px;
}
.article-author{
    font-size: 14px;
    color: #ccc;
    margin-left: 20px;
}
.article-meta{
    margin: 0;
    padding: 0 0 60px 0;
    background: url(../img/images/img04.jpg) repeat-x left 30%;
}
/*search*/
.search b{
    font-weight:bold;
    font-size: 15px;
    color: #78CC00;
}
#key{
    width: 200px;
    border: 1px solid #E6E4E4;
    margin-right: 5px;
    padding: 3px;
    line-height: normal;
}
#search{
    font-size: 10px;
    padding: 5px;
}
fieldset{
    margin: 15px;
    border: 0;
}