/*index*/
.company,.education,.photo,.developer,.skills{
    margin:20px;
}
/*
.company,.education,.photo,.developer,.skills,
.experience ,.basic-info , .web-lang {
    line-height: normal;
}
*/

.experience .popover,.basic-info .popover, .web-lang .popover{
    position: relative;
    display: block;
    max-width: 600px!important;
    width:auto;
    margin: 20px;
    z-index: 1020;
}
.divider{
    margin: 20px 0;
}
div .col-md-3 col-sm-3{
    vertical-align: middle;
}
.img-polaroid{
    margin-right: 10px;
}
.row{
    display: flex;
}
.my-works,.cert{
    width:140px;
    background: #ccc;
}

/*home*/
.banner{
/*    background-image: url(../img/background-image.png);*/
    background: #666;
/*    background-repeat: no-repeat;*/
/*    background-attachment:fixed;*/
    width: 100%;
    height: 500px;
}
.my-skill{
    margin-top: 20px;
}
div.question{
    padding-top:200px;
    text-align: center;
}
.question h1{
    color:#fff;
    font-size:60px;
}
.progress-label{
    float: left;
    margin-right: 1em;
}
.progress span{
    position: absolute;
    display: block;
    width: 100%;
    color:aqua;
    
}