 @import url(http://fonts.googleapis.com/css?family=Raleway:400,900);

/*body{
  font-family: 'Raleway', sans-serif;
  color: #333;
}*/
/* 3.  Quick links at left*/
.quick-link{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
    width: 56px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	z-index: 100;
	background: rgba(0, 0, 0, 0.26);
}
.quick-link .logo img{
	width: 56px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	background: #1d1d1d;
}
.quick-link .logo a img{
	padding: 8px;
/*	height: 100%;*/
	width: 100%;
}
.quick-link .logo a:after {
	background: none !important;
}
.quick-link .qmenu{
	position: relative;
	position: absolute;
	top: 50%;
    margin-left: -40px;
}
.quick-link li{
	list-style: none;
	list-style-position: outside;
	display: block;
	height: 48px;
	width: 56px;
	position: relative;
}
/* 3.1 quick link position : use it to adjust its position */
	.quick-link.count-1 .qmenu{
		margin-top: -24px; /* 48*1/2*/
	}
	.quick-link.count-2 .qmenu{
		margin-top: -48px; /* 48*5/2*/
	}
	.quick-link.count-3 .qmenu{
		margin-top: -72px; /* 48*3/2*/
	}
	.quick-link.count-4 .qmenu{
		margin-top: -96px; /* 48*4/2*/
	}
	.quick-link.count-5 .qmenu{
		margin-top: -120px; /* 48*5/2*/
	}
	.quick-link.count-6 .qmenu{
		margin-top: -144px; /* 48*6/2*/
	}
	.quick-link.count-7 .qmenu{
		margin-top: -168px; /* 48*7/2*/
	}
/* 3.2 Links */
.quick-link a{
/*	background: #fff;*/
/*	background: rgba(255, 255, 255, 0.15);*/
	height: 48px;
	width: 56px;
	display: block;
	text-align: center;
	font-size: 22px;
	padding-top: 0.4rem;
	color: #fff;
	opacity: 1;
	position: relative;
	z-index: 1;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.quick-link a:hover{
/*		opacity: 0.5;*/
/*		color: #5677fc;*/
}
.quick-link ul li{
	position: relative;
}
.quick-link ul li:after,
.quick-link a:after{
	position: absolute;
	content: "";
	background: rgba(255,255,255,0);
	border-radius: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 1px;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
/*		transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
	-webkit-transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: -1;
}
.quick-link li:before{
	position: absolute;
	content: "";
	width: 50%;
	left: 25%;
	bottom: 0;
	border-bottom: 1px solid #fff;
}
.quick-link li:last-child:before{
	border-bottom: none;
}
.quick-link ul li.active:after,
.quick-link a:hover:after{
	-webkit-transform: none;
	transform: none;
	border-radius: 0;
	background: rgba(255,255,255,0.15);
	background: #5677fc;
}

.quick-link ul li.active:after{
	background: rgba(230, 230, 230, 0.12);
}
.quick-link a.marked{
	color: #fff;
	background: #5677fc;
}
	.quick-link .title{
		position: absolute;
		font-size: 12px;
		left: 64px;
		top: 17px;
		color: #fff;
		font-family: "Opensans";
		text-transform: uppercase;
		text-align: left;
		width: 100px;
		border-bottom: 1px solid currentColor;
		display: block;
		transform: translateX(10px);
		-webkit-transition: 0.3s;
		transition: 0.3s;
		visibility: hidden;
		opacity: 0;
		text-shadow: 0 0 10px #000;
	}
	.quick-link li:hover .title{
		-webkit-transform: none;
		transform: none;
		display: block;
		opacity: 1;
		visibility: visible;
	}

/* 4. Page footer */
.page-footer{
	z-index: 100;
	position: fixed;
	bottom: 8px;
	left: 56px;
	margin-left: 9px;
	color: #fff;
	font-size:18px;
	font-family: 'Opensans';
	font-weight: normal;
}
.page-footer a:first-child{
/*	margin-left: 8px;*/
}
.page-footer a{
	color: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	float: left;
	display: block;
	margin-right: 8px;
	padding: 4px ;
	width: 32px;
	height: 32px;
	text-align: center;
	background: #fff;
	color: #1d1d1d;
}
.page-footer a .ion{
	font-size: 1.2em;
}
.page-footer a:hover{
	opacity: 0.8;
}



/*header-top*/
.header-top{
    position: fixed;
    z-index: 20;
    top:1%;
    left:56px;
    margin-left: 10px;
/*
    top:0;
    left: 56px;
	height: 56px;
*/
}


.header-top h1{
    background: transparent;
    font-weight: normal;
    color: #fff;
    position: relative;
}
.header-top h1 span{
    margin-right: 0.35em;
}

.header-top span:first-child{
    font-size: 0.75em;
}
.header-top span:last-child{
    font-size: 0.25em;
}
.header-top span:hover{
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    cursor: pointer;
}


/*change-city*/
.hide{
    display: none;
}
.change-city{
    display: block;
    border: none;
    background: rgba(49, 48, 48, 0.23);
    width: 70%;
    -webkit-border-radius:6px;
}
.input-box{
    height: 4em;
/*    display: inline-block;*/
}
/*.input-box input{
    background-color: #ccc;
}*/
.input-box .get-city{
/*    background: transparent;*/
    background-color: transparent;
    margin: 5px 2px 5px 5px;
    width: 60%;
    display: inline-block;
    text-align: center;
    font-size: 1.65em;
    height: 2em;
    line-height: 1.7em;
    letter-spacing: 1px;
    color: #fff;
    -webkit-border-radius:7px;
}

.input-box .submit-btn{
    -webkit-border-radius: 7px;
    background: rgba(255, 255, 255, 0.36);
    padding: 1em;
    position: relative;
    margin: 5px 10px 5px 5px;
    float: right;
}
.common-cities span,.history-cities span{
    font-size: 0.75em;
    padding: 0.1em 0.2em;
}
.common-cities span:hover,
.common-cities span:focus{
    background-color: rgba(255, 255, 255, 0.36);
}

.history-cities  i{
    font-size: 0.5em;
    margin: 0.5em;
    color: rgba(204, 204, 204, 0.56);
}
/*weather-pane*/
.p-weather-date{
    text-align: center;
}

.p-weather-date h6{
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.5em;
}
.p-weather-date h6 span{
    margin-left: 5px;
}
.weather-type p{
    text-align: center;
    font-size: 0.45em;
    font-weight: 400;
}
.weather-type p span{
    margin-right: 5px;
}
.weather-temp{
    font-size: 6em;
    font-weight: 700;
    margin: -0.1em 0 0.1em;
    text-align: center;
/*    margin-top:10%;*/
    margin: auto;
}
.weather-temp span{
    font-size: 6em;
}
.weather-temp small{
    font-size:0.25em;
}

#s-forecast .weather-forecast{
    width: 100%;
    height: 50vh;
    position: absolute;
    margin-top: -60px;
}
#s-forecast .weather-item{
    display: none;
}

#s-forecast .active{
    display: block;
}
#weather-nav{
    text-align: center;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:40vh;
}
.nav-item{
    display: block;
    padding: 0.5em;
    color: #252445;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
a, a:hover,a:visited{
    text-decoration: none;
}
.nav-item span{
    display: block;
    margin: 0.25em 0 0 0;
    font-size: 0.5em;
    font-weight: 600;
}

.nav-item{
    color: black;
}
a.nav-item .active, .nav-item:hover,.nav-item:focus{
    color: #fff;
}

.error-code{
    text-align: center;
    margin-top: 20%;
    font-size: 2em;
    font-weight: 400;
}


/* slide page */
/*page express*/
.page-express section.content{
    z-index: 5;
    cursor: pointer;
}
.page-express .form-group{
    left: -20px;
    margin: 0 50px 0 -50px;
}
.page-express .form-group label{
    font-size: 1em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.47);
}
.page-express .form-group input,
.page-express .form-group input:focus{
    background: transparent;
    border: 1px solid #eee;
    color:#fff;
}

.page-express .modal .panel{
    padding: 0px;
    background-color: #fff;
}
.page-express .modal-body header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
  
 .page-express .modal-body header p{
    text-align: center;
    margin-bottom: 0;
    color:#333;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: 300;
 }

.page-express .modal-body .hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.page-express .modal-body .hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.page-express .modal-body .hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.page-express .modal-body .timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.page-express .modal-body .timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.page-express .modal-body .timeline li {
  padding: 2em 0;
}

.page-express .modal-body .timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #00c4f3;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.page-express .modal-body .timeline .hexa:before {
  border-bottom: 4px solid #00c4f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.page-express .modal-body .timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #00c4f3;
  bottom: -4px;
}

.page-express .modal-body .direction-l,
.page-express .modal-body .direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.page-express .modal-body .flag-wrapper {
  text-align: center;
  position: relative;
}

.page-express .modal-body .flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.page-express .modal-body .direction-l .flag:after,
.page-express .modal-body .direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.page-express .modal-body .direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.page-express .modal-body .direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.page-express .modal-body .time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.page-express .modal-body .direction-l .time-wrapper {
  float: none;
}

.page-express .modal-body .direction-r .time-wrapper {
  float: none;
}

.page-express .modal-body .time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
}

.page-express .modal-body .desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.page-express .modal-body .direction-l .desc,
.page-express .modal-body .direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}


























/* page tickets */
.page-tickets .container{
    position: absolute;
    top: 250px;
    z-index: 5;
}
.page-tickets section .p-title{
    position: absolute;
    top: 120px;
}
.page-tickets section .form-group{
    margin-bottom: 30px;
    margin-left: -50px;
    padding-right: 30px;
}
.page-tickets section .input-group-addon,
.page-tickets section input,
.page-tickets section input:after,
.page-tickets section input.form-control
{
    background-color: transparent;
    
}


.page-tickets section .input-group-addon:nth-child(1){
    border: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}
.page-tickets section .input-group-addon:nth-child(3),
.page-tickets section .input-group-addon:nth-child(5),
.page-tickets section .input-group-addon:nth-child(7){
    color:#fff;
    background: rgba(255,255,255,0.15);
}


.page-tickets section .input-group-addon:nth-child(3):hover,
.page-tickets section .input-group-addon:nth-child(3):hover:after,
.page-tickets section .input-group-addon:nth-child(5):hover,
.page-tickets section .input-group-addon:nth-child(5):hover:after,
.page-tickets section .input-group-addon:nth-child(7):hover,
.page-tickets section .input-group-addon:nth-child(7):hover:after{
	border-radius: 0;
	background: rgba(255,255,255,0.55);
    cursor: pointer;
    
}

.page-tickets section input,
.page-tickets section input:focus{
    background: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.65);
}

.page-tickets .modal-header{
    height: 48px;
}
.page-express h4.modal-title,
.page-tickets h4.modal-title{
    text-align: left;
    color:#555;
}

.page-tickets section .help-block {
    font-size: 0.5em;
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.41);
}
.page-tickets section .help-block span{
    font-weight: bold;
    color: #ccc;
    padding-right: 0.5em;
}
/*.page-tickets #ss-datepicker{
    font-size: 0.5em;
}*/
.page-tickets section .ticket-info i{
    color: rgba(0, 0, 0, .5);
    padding: 0 0.5em;
}
/*.page-tickets .tcdd,
.page-tickets .tcds,
.page-tickets .train-ls{
    font-size: 2em;
}*/
.page-tickets section .tcdd span,
.page-tickets section .tcds span,
.page-tickets section .train-ls span,{
    font-size: 0.5em;
    color: #ccc;
    padding-right: 1em;
}

/*.page-tickets .tcdd strong{
    padding: 0.15em;
}*/
.page-tickets section  strong.end-s
.page-tickets section  strong.end-t,{
    color: rgba(85, 85, 85, 0.58);
}


.page-tickets .modal-body .filter-btn{
    cursor: pointer;
}



/*footer arrow*/
.p-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 5rem;
}
.p-footer .icon{
	position: absolute;
	top: 24px;
	color: #fff;
	text-align: center;
	width: 24px;
	margin-left: -12px;
	font-size: 20px;
	transition: 0.3s;
}
	.p-footer .text{
		font-size: 12px;
		font-family: "Opensans";
		text-transform: uppercase;
	}
.p-footer:hover .icon{
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.p-footer .arrow-d{
    position: relative;
    width: 1px;
    background: rgba(255, 255, 255, 0.1);
    height: 48px;
    width: 48px;
/*    left: 50%;*/
    left: 0;
    bottom: 32px;
	margin: 0;
	display: block;
	border: 0px solid #fff;
	border-radius: 100%;
    margin-left: -24px;   
	transition: 0.3s;
	font-family: "Opensans";
	color: #fff;
	font-size: 14px;
}
	.p-footer .arrow-d:hover{
		background: #5677fc;
		background: #fff;
	}
	.p-footer .arrow-d.gone{
		-webkit-transform: scale(0);   
		transform: scale(0);   
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	.p-footer .arrow-d .circle{
		top: 12px;
		bottom: 12px;
		left: 12px;
		right: 12px;
		position: absolute;
		content: "\f340";
		font-size: 28px;
		line-height: 0;
		margin-top: -2px;
		font-family: "Ionicons";
		color: #fff;
/*		background: #fff;*/
		border-radius: 100%;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}

	.p-footer .arrow-d .circle:after{
		top: 12px;
		bottom: 12px;
		left: 12px;
		right: 12px;
		position: absolute;
		content: "";
		background: #fff;
		border-radius: 100%;
		-webkit-transition: 0.3s ;
		transition: 0.3s ;
	}
	.p-footer .arrow-d .after,
	.p-footer .arrow-d .before{
		top: 14px;
		position: absolute;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		opacity: 1;
	}
	/* Hover animation */
	.p-footer .arrow-d:hover .after,
	.p-footer .arrow-d:hover .before{
		opacity: 0.15;
	}
	.p-footer .arrow-d:hover .circle{
		background: #5677fc;
		background: rgba(86, 119, 252, 0);
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px; 
	}
	.p-footer .arrow-d:hover .circle:after{	
		border-radius: 0;
		left: 23px;
		right: 23px;
	}
	.p-footer .arrow-d .before{
		text-align: right;
		float: right;
		right: 72px;
	}
	.p-footer .arrow-d .after{
		text-align: left;
		float: left;
		left: 72px;
	}
	.p-footer .arrow-d:after,
	.p-footer .arrow-d:before{
		position: absolute; content: ' ';
		width: 24px;
		height: 24px;
		left: 12px;
		margin-left: 0.5px;
	/*
		-webkit-transform: rotateY(45deg);
		-ie-transform: rotateY(45deg);
	*/
		border: 2px solid rgba(255, 255, 255, 0.15);
		border-left-color: transparent;
		border-top-color: transparent;  
		-ms-transition: 0.3s;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.p-footer .arrow-d:after{   
		border-right-color: transparent;  
		top: 12px;
		left: 36px;
		-ms-transform: rotateZ(-45deg); 
		-webkit-transform: rotateZ(-45deg); 
		transform: rotateZ(-45deg); 
	}
	.p-footer .arrow-d:before{  
		border-bottom-color: transparent;
		top: 12px; 
		left: -12px;
		-ms-transform: rotateZ(-135deg);
		-moz-transform: rotateZ(-135deg);
		transform: rotateZ(-135deg);
	}
	.p-footer .arrow-d.no-change:after, 
	.p-footer .arrow-d:hover:after{ 
		margin-top: 1px;
		top: 16px; 
		left: 16px;
		bottom: 16px;
		right: 16px;
		width: auto;
		height: auto;
		border: 2px solid #1d1d1d;
		border-left-color: transparent;
		border-top-color: transparent;  
		border-right-color: transparent; 
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	.p-footer .arrow-d.no-change:before,
	.p-footer .arrow-d:hover:before{
/*		margin-top: 1px;*/
		top: 16px;
		left: 16px;
		bottom: 16px;
		right: 16px;
		width: auto;
		height: auto;

		border: 2px solid #1d1d1d;
		border-left-color: transparent;
		border-top-color: transparent;  
		border-bottom-color: transparent;
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	.p-footer:hover .arrow-d.no-change:after, 
	.p-footer:hover .arrow-d.no-change:before{
		top: 4rem;
	}
	.p-footer .arrow-d a{
		color: inherit;
	}


.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next{
    display: none;
}


div .zodiac-img{
/*    background: url('./img/zodiac/Gemini.png') 154px 370px;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    color: black;*/
    -webkit-border-radius: 10px;
}
/*.zodiac-info-header:hover,
.zodiac-info-header:visited{
    cursor: pointer;
}*/


.page-zodiac .p-title{
    position: absolute;
    top: 90px;
}

/*.zodiac-week .p-title{
    position: relative;
    top: -4px;
}*/
.page-zodiac .p-title h3{
    font-size:2em;
    font-weight: 800;
    display: inline-block;
}
.page-zodiac .p-title h3 i{
    margin-left: 0.5em;
}

 .page-zodiac .p-title .buttons{
	position: relative;
    float: right;
     margin-left: 4em;
    padding: 0.1em;
    right: 0;
    background: rgba(255,255,255,0.15);
    display: inline-block;
}

.page-zodiac .p-title .buttons li{
	position: relative;
	display: block;
	width: 48px;
	float: left;
}
.page-zodiac .p-title .buttons a{
	text-align: center;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	margin: 0;
}
.page-zodiac .p-title .buttons a i{
	margin: 0;
	font-size: 24px;
	padding-top: 0.5em;
}

.page-zodiac .p-title .buttons a:after{
	position: absolute;
	content: "";
	background: rgba(255,255,255,0);
	border-radius: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
/*.page-zodiac .p-title .buttons a:hover:after{
	border-radius: 0;
	background: rgba(255,255,255,0.15);
}*/
.page-zodiac .zodiac li{
	margin-top: 20px;
}
.page-zodiac .zodiac img{
	height: 56px;
	width: auto;
}
.page-zodiac a{
    color: #fff;
}
.page-zodiac .right{
	text-align: right;
}
div.zodiac-basic-info{
    text-align: left;
    margin-left: 10px;
}
div.zodiac-basic-info h6{
    color: #fff;
    font-size: 0.5em;
    margin: 0px;
}
h3.zodiac-name span:first-child{
/*    font-size: 2em;*/
    font-weight: bolder;
    margin: 0.1em 0;
    text-align: left;
}
.zodiac-name span:last-child{
    font-size: 0.25%;
    margin-left: 2em;
    cursor: pointer;
}
h4.zodiac-qfriend span:first-child{
    font-size: 0.75em;
    padding-right: 1em;
    color: rgba(255,255,255,0.5);
}
h4.zodiac-qfriend span:last-child{
    font-size: 1.25em;
    color: #F9FBE7;
}
.zodiac-info-header{
    position: fixed;
    top: 166px;
    width: 60%;
}
.zodiac-info-header h5 span:nth-child(1),
.zodiac-info-header h5 span:nth-child(3){
    font-size: 0.5em;
    color: rgba(255,255,255,0.5);
    margin-right: 0.5em;
}
.zodiac-info-header h5 span:nth-child(2),
.zodiac-info-header h5 span:nth-child(4){
    color: #fff;
    font-weight: bold;
}
.zodiac-info-header h5 span:nth-child(2){
    margin-right: 0.5em;
}

/*progress bar*/

/*.zodiac-info{
    position: relative;
    top: 75px;
}*/
.zodiac-info dl {
    margin-top: 10px;
}
.zodiac-info dl dt{
/*    font-size: 0.75em;*/
    text-align: left;
    /* margin-right: 0px; */
    margin-left: 5%;
    width: 20%;
    color: rgba(255,255,255,0.5);
    /* width: 30%; */
}

.zodiac-info dl dd{
    margin: 0 2em;
    padding: 0.25em 0;
    
}



div.progress {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(251, 247, 247, 0.29);
    height: 0.75em;
}
div.progress-bar {
    margin-left: -2px;
    font-size: 0.5em;
    height: 1em;
    line-height: 0.5em;
    margin-top: -2px;
    padding: 2px;
}

/*summary*/
div .zodiac-conclude span:first-child{
    font-size: 1.5em;
    font-weight: bold;
    color: #123;
    margin-right: 0.1em;
}
div .zodiac-conclude span:last-child{
    font-size: 0.5em;
    color: #F9FBE7;
}

/*zodiac week/month fortune*/
.zodiac-week-info,.zodiac-info,
.zodiac-month-info,.zodiac-year-info{
    position: absolute;
    top: 290px;
    max-width: 600px;
    margin-left: -40px;
    margin-top: 1em;
    
}

.zodiac-week-info .row p,
.zodiac-month-info .row p,
.zodiac-year-info .row p
{
    font-size: 0.5em;
    line-height: 1.2em;
    width: 35em;
    height: 2em;
    color: #F9FBE7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
/*.zodiac-week-info .row span:first-child{*/
/*.zodiac-year-info .row span:first{
    padding: 0 0.5em;
    font-weight: 600;
    color: #ECEAB7;
}*/

.zodiac-week-info .row:hover p,
.zodiac-month-info .row:hover p,
.zodiac-year-info .row:hover p{
    background: rgba(247, 244, 244, 0.23);
   /* height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;*/
    padding: 0.45em 0 0;
/*    width: 30em;*/
    cursor: pointer;
}
.zodiac-week-info .row h5,
.zodiac-month-info .row h5,
.zodiac-year-info .row h5{
    font-size: 0.5em;
    margin-top: 20px;
    font-weight: 400;
    color: rgba(200, 230, 201, 0.46);
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin-left: -5em;
}
.ion-ios-rose,.ion-briefcase,
.ion-ios-body,.ion-social-yen,
.ion-ios-paper,.ion-compose,
.ion-stats-bars,.ion-egg,
.ion-cash,.ion-heart{
    margin-right: 0.5em;
}
.ion-compose{
    color:azure;
}
.ion-ios-rose,.ion-heart{
    color: red;
}
.ion-briefcase{
    color:black;
}
.ion-ios-body,.ion-stats-bars{
    color:green;
}
.ion-social-yen,.ion-egg,
.ion-cash{
    color:gold;
}
.ion-ios-paper{
    color:aliceblue;
}


/*page search zodiac*/
.page-zodiac div.modal-header,
.page-zodiac div.modal-footer{
    height: 3.5em;
}

.page-zodiac div.modal-body{
    height: 150px;
}
.page-zodiac div .modal-content{
    position: absolute;
    left: 400px;
/*    background: rgba(247, 240, 240, 0.17);*/
    width: 300px;
}

.page-zodiac div.modal-content label,.modal-title{
    color:#000;
}
h4#zodiacSearchModalLabel{
    color: #555;
    text-align: left;
}
input#zodiac-input{
    background: transparent;
    color: #000;
    font-weight: bold;
    font-size: 2em;
    height: 1.65em;
    line-height: 1.65em;
    border: 1px solid rgba(204, 204, 204, 0.47);
}

/*.page-search-zodiac{
    position: absolute;
    top: 200px;
    width: 100%;
    background-color: rgba(43, 40, 40, 0.23);
}
.form-horizontal .form-group {
    width: 100%;
    margin-left: 0px;
}

label{
    position: relative;
    float: left;
    font-size: 2em;
    width: 3em;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding-top: 0px;
    margin-left: 15px;

}
[for='zodiacinput']{
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}
[for='radio']{
    font-size: 1.5em;
    color: #fff;
    text-align: left;
}
.form-group div{
    float: left;
    text-align: center;
    height: 48px;
    line-height: 2em;
    font-size: 0.75em;
}

#zodiacinput {
    font-size: 1.65em;
    line-height: 1.7em;
    height: 1.7em;
    color: #fff;
    background: transparent;
    border: 1px solid #ccc;
    margin-top: 5px;
}
col-sm-6{
    text-align: left;
}*/