iframe{
    margin-left:-110px;
}




/*header-top*/
.header-top{
    position: fixed;
    z-index: 20;
    top:1%;
    left:56px;
    margin-left: 10px;
/*
    top:0;
    left: 56px;
	height: 56px;
*/
}


.header-top h1{
    background: transparent;
    font-weight: normal;
    color: #fff;
    position: relative;
}
.header-top h1 span{
    margin-right: 0.35em;
}

.header-top span:first-child{
    font-size: 0.75em;
}
.header-top span:last-child{
    font-size: 0.25em;
}
.header-top span:hover{
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    cursor: pointer;
}


/*change-city*/
.hide{
    display: none;
}
.change-city{
    display: block;
    border: none;
    background: rgba(49, 48, 48, 0.23);
    width: 70%;
    -webkit-border-radius:6px;
}
.input-box{
    height: 4em;
/*    display: inline-block;*/
}
/*.input-box input{
    background-color: #ccc;
}*/
.input-box .get-city{
/*    background: transparent;*/
    background-color: transparent;
    margin: 5px 2px 5px 5px;
    width: 60%;
    display: inline-block;
    text-align: center;
    font-size: 1.65em;
    height: 2em;
    line-height: 1.7em;
    letter-spacing: 1px;
    color: #fff;
    -webkit-border-radius:7px;
}

.input-box .submit-btn{
    -webkit-border-radius: 7px;
    background: rgba(255, 255, 255, 0.36);
    padding: 1em;
    position: relative;
    margin: 5px 10px 5px 5px;
    float: right;
}
.common-cities span,.history-cities span{
    font-size: 0.75em;
    padding: 0.1em 0.2em;
}
.common-cities span:hover,
.common-cities span:focus{
    background-color: rgba(255, 255, 255, 0.36);
}

.history-cities  i{
    font-size: 0.5em;
    margin: 0.5em;
    color: rgba(204, 204, 204, 0.56);
}
/*weather-pane*/
.p-weather-date{
    text-align: center;
}

.p-weather-date h6{
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 0.5em;
}
.p-weather-date h6 span{
    margin-left: 5px;
}
.weather-type p{
    text-align: center;
    font-size: 0.45em;
    font-weight: 400;
}
.weather-type p span{
    margin-right: 5px;
}
.weather-temp{
    font-size: 6em;
    font-weight: 700;
    margin: -0.1em 0 0.1em;
    text-align: center;
/*    margin-top:10%;*/
    margin: auto;
}
.weather-temp span{
    font-size: 6em;
}
.weather-temp small{
    font-size:0.25em;
}

#s-forecast .weather-forecast{
    width: 100%;
    height: 50vh;
    position: absolute;
    margin-top: -60px;
}
#s-forecast .weather-item{
    display: none;
}

#s-forecast .active{
    display: block;
}
#weather-nav{
    text-align: center;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:40vh;
}
.nav-item{
    display: block;
    padding: 0.5em;
    color: #252445;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
a, a:hover,a:visited{
    text-decoration: none;
}
.nav-item span{
    display: block;
    margin: 0.25em 0 0 0;
    font-size: 0.5em;
    font-weight: 600;
}

.nav-item{
    color: black;
}
a.nav-item .active, .nav-item:hover,.nav-item:focus{
    color: #fff;
}

.error-code{
    text-align: center;
    margin-top: 20%;
    font-size: 2em;
    font-weight: 400;
}


/* slide page */
/*footer arrow*/
.p-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 5rem;
}
.p-footer .icon{
	position: absolute;
	top: 24px;
	color: #fff;
	text-align: center;
	width: 24px;
	margin-left: -12px;
	font-size: 20px;
	transition: 0.3s;
}
	.p-footer .text{
		font-size: 12px;
		font-family: "Opensans";
		text-transform: uppercase;
	}
.p-footer:hover .icon{
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.p-footer .arrow-d{
    position: relative;
    width: 1px;
    background: rgba(255, 255, 255, 0.1);
    height: 48px;
    width: 48px;
/*    left: 50%;*/
    left: 0;
    bottom: 32px;
	margin: 0;
	display: block;
	border: 0px solid #fff;
	border-radius: 100%;
    margin-left: -24px;   
	transition: 0.3s;
	font-family: "Opensans";
	color: #fff;
	font-size: 14px;
}
	.p-footer .arrow-d:hover{
		background: #5677fc;
		background: #fff;
	}
	.p-footer .arrow-d.gone{
		-webkit-transform: scale(0);   
		transform: scale(0);   
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	.p-footer .arrow-d .circle{
		top: 12px;
		bottom: 12px;
		left: 12px;
		right: 12px;
		position: absolute;
		content: "\f340";
		font-size: 28px;
		line-height: 0;
		margin-top: -2px;
		font-family: "Ionicons";
		color: #fff;
/*		background: #fff;*/
		border-radius: 100%;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}

	.p-footer .arrow-d .circle:after{
		top: 12px;
		bottom: 12px;
		left: 12px;
		right: 12px;
		position: absolute;
		content: "";
		background: #fff;
		border-radius: 100%;
		-webkit-transition: 0.3s ;
		transition: 0.3s ;
	}
	.p-footer .arrow-d .after,
	.p-footer .arrow-d .before{
		top: 14px;
		position: absolute;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		opacity: 1;
	}
	/* Hover animation */
	.p-footer .arrow-d:hover .after,
	.p-footer .arrow-d:hover .before{
		opacity: 0.15;
	}
	.p-footer .arrow-d:hover .circle{
		background: #5677fc;
		background: rgba(86, 119, 252, 0);
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px; 
	}
	.p-footer .arrow-d:hover .circle:after{	
		border-radius: 0;
		left: 23px;
		right: 23px;
	}
	.p-footer .arrow-d .before{
		text-align: right;
		float: right;
		right: 72px;
	}
	.p-footer .arrow-d .after{
		text-align: left;
		float: left;
		left: 72px;
	}
	.p-footer .arrow-d:after,
	.p-footer .arrow-d:before{
		position: absolute; content: ' ';
		width: 24px;
		height: 24px;
		left: 12px;
		margin-left: 0.5px;
	/*
		-webkit-transform: rotateY(45deg);
		-ie-transform: rotateY(45deg);
	*/
		border: 2px solid rgba(255, 255, 255, 0.15);
		border-left-color: transparent;
		border-top-color: transparent;  
		-ms-transition: 0.3s;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.p-footer .arrow-d:after{   
		border-right-color: transparent;  
		top: 12px;
		left: 36px;
		-ms-transform: rotateZ(-45deg); 
		-webkit-transform: rotateZ(-45deg); 
		transform: rotateZ(-45deg); 
	}
	.p-footer .arrow-d:before{  
		border-bottom-color: transparent;
		top: 12px; 
		left: -12px;
		-ms-transform: rotateZ(-135deg);
		-moz-transform: rotateZ(-135deg);
		transform: rotateZ(-135deg);
	}
	.p-footer .arrow-d.no-change:after, 
	.p-footer .arrow-d:hover:after{ 
		margin-top: 1px;
		top: 16px; 
		left: 16px;
		bottom: 16px;
		right: 16px;
		width: auto;
		height: auto;
		border: 2px solid #1d1d1d;
		border-left-color: transparent;
		border-top-color: transparent;  
		border-right-color: transparent; 
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	.p-footer .arrow-d.no-change:before,
	.p-footer .arrow-d:hover:before{
/*		margin-top: 1px;*/
		top: 16px;
		left: 16px;
		bottom: 16px;
		right: 16px;
		width: auto;
		height: auto;

		border: 2px solid #1d1d1d;
		border-left-color: transparent;
		border-top-color: transparent;  
		border-bottom-color: transparent;
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	.p-footer:hover .arrow-d.no-change:after, 
	.p-footer:hover .arrow-d.no-change:before{
		top: 4rem;
	}
	.p-footer .arrow-d a{
		color: inherit;
	}


.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next{
    display: none;
}


div .zodiac-img{
/*    background: url('./img/zodiac/Gemini.png') 154px 370px;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    color: black;*/
    -webkit-border-radius: 10px;
}
/*.zodiac-info-header:hover,
.zodiac-info-header:visited{
    cursor: pointer;
}*/


.page-zodiac .p-title{
    position: absolute;
    top: 90px;
}
/*.zodiac-week .p-title{
    position: relative;
    top: -4px;
}*/
.page-zodiac .p-title h3{
    font-size:2em;
    font-weight: 800;
    display: inline-block;
}
.page-zodiac .p-title h3 i{
    margin-left: 0.5em;
}

 .page-zodiac .p-title .buttons{
	position: relative;
    float: right;
     margin-left: 4em;
    padding: 0.1em;
    right: 0;
    background: rgba(255,255,255,0.15);
    display: inline-block;
}

.page-zodiac .p-title .buttons li{
	position: relative;
	display: block;
	width: 48px;
	float: left;
}
.page-zodiac .p-title .buttons a{
	text-align: center;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	margin: 0;
}
.page-zodiac .p-title .buttons a i{
	margin: 0;
	font-size: 24px;
	padding-top: 0.5em;
}

.page-zodiac .p-title .buttons a:after{
	position: absolute;
	content: "";
	background: rgba(255,255,255,0);
	border-radius: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
/*.page-zodiac .p-title .buttons a:hover:after{
	border-radius: 0;
	background: rgba(255,255,255,0.15);
}*/
.page-zodiac .zodiac li{
	margin-top: 20px;
}
.page-zodiac .zodiac img{
	height: 56px;
	width: auto;
}
.page-zodiac a{
    color: #fff;
}
.page-zodiac .right{
	text-align: right;
}
h3.zodiac-name span:first-child{
/*    font-size: 2em;*/
    font-weight: bolder;
    margin: 0.1em 0;
    text-align: left;
}
.zodiac-name span:last-child{
    font-size: 0.25%;
    margin-left: 2em;
    cursor: pointer;
}
h4.zodiac-qfriend span:first-child{
    font-size: 0.75em;
    padding-right: 1em;
    color: rgba(255,255,255,0.5);
}
h4.zodiac-qfriend span:last-child{
    font-size: 1.25em;
    color: #F9FBE7;
}
.zodiac-info-header{
    position: fixed;
    top: 166px;
    width: 60%;
}
.zodiac-info-header h5 span:nth-child(1),
.zodiac-info-header h5 span:nth-child(3){
    font-size: 0.5em;
    color: rgba(255,255,255,0.5);
    margin-right: 0.5em;
}
.zodiac-info-header h5 span:nth-child(2),
.zodiac-info-header h5 span:nth-child(4){
    color: #fff;
    font-weight: bold;
}
.zodiac-info-header h5 span:nth-child(2){
    margin-right: 0.5em;
}

/*progress bar*/

/*.zodiac-info{
    position: relative;
    top: 75px;
}*/
.zodiac-info dl dt{
/*    font-size: 0.75em;*/
    text-align: left;
    /* margin-right: 0px; */
    margin-left: 5%;
    width: 20%;
    color: rgba(255,255,255,0.5);
    /* width: 30%; */
}

.zodiac-info dl dd{
    margin: 0 2em;
    padding: 0.25em 0;
    
}



div.progress {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(251, 247, 247, 0.29);
    height: 0.75em;
}
div.progress-bar {
    margin-left: -2px;
    font-size: 0.5em;
    height: 1em;
    line-height: 0.5em;
    margin-top: -2px;
    padding: 2px;
}

/*summary*/
div .zodiac-conclude span:first-child{
    font-size: 1.5em;
    font-weight: bold;
    color: #123;
    margin-right: 0.1em;
}
div .zodiac-conclude span:last-child{
    font-size: 0.5em;
    color: #F9FBE7;
}

/*zodiac week/month fortune*/
.zodiac-week-info,.zodiac-info,
.zodiac-month-info,.zodiac-year-info{
    position: absolute;
    top: 276px;
    max-width: 600px;
    margin-left: -40px;
    margin-top: 1em;
    
}
.zodiac-week-info .row p,
.zodiac-month-info .row p,
.zodiac-year-info .row p
{
    font-size: 0.5em;
    line-height: 1.2em;
    width: 35em;
    height: 2em;
    color: #F9FBE7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.zodiac-week-info .row span:first-child{
    padding: 0 0.45em;
    font-weight: 600;
    color: #ECEAB7;
}

.zodiac-week-info .row:hover p,
.zodiac-month-info .row:hover p,
.zodiac-year-info .row:hover p{
    background: rgba(247, 244, 244, 0.23);
   /* height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;*/
    padding: 0.45em 0 0;
/*    width: 30em;*/
    cursor: pointer;
}
.zodiac-week-info .row h5,
.zodiac-month-info .row h5,
.zodiac-year-info .row h5{
    font-size: 0.5em;
    margin-top: 20px;
    font-weight: 400;
    color: rgba(200, 230, 201, 0.46);
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin-left: -5em;
}
.ion-ios-rose,.ion-briefcase,
.ion-ios-body,.ion-social-yen,
.ion-ios-paper,.ion-compose,
.ion-stats-bars,.ion-egg,
.ion-cash,.ion-heart{
    margin-right: 0.5em;
}
.ion-compose{
    color:azure;
}
.ion-ios-rose,.ion-heart{
    color: red;
}
.ion-briefcase{
    color:black;
}
.ion-ios-body,.ion-stats-bars{
    color:green;
}
.ion-social-yen,.ion-egg,
.ion-cash{
    color:gold;
}
.ion-ios-paper{
    color:aliceblue;
}


/*page search zodiac*/
div.modal-header,
div.modal-footer{
    height: 3.5em;
}

div.modal-body{
    height: 150px;
}
div .modal-content{
    position: absolute;
    left: 400px;
/*    background: rgba(247, 240, 240, 0.17);*/
    width: 300px;
}

div.modal-content label,.modal-title{
    color:#000;
}
h4#zodiacSearchModalLabel{
    color: #555;
    text-align: left;
}
input#zodiac-input{
    background: transparent;
    color: #000;
    font-weight: bold;
    font-size: 2em;
    height: 1.65em;
    line-height: 1.65em;
    border: 1px solid rgba(204, 204, 204, 0.47);
}

/*.page-search-zodiac{
    position: absolute;
    top: 200px;
    width: 100%;
    background-color: rgba(43, 40, 40, 0.23);
}
.form-horizontal .form-group {
    width: 100%;
    margin-left: 0px;
}

label{
    position: relative;
    float: left;
    font-size: 2em;
    width: 3em;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    padding-top: 0px;
    margin-left: 15px;

}
[for='zodiacinput']{
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}
[for='radio']{
    font-size: 1.5em;
    color: #fff;
    text-align: left;
}
.form-group div{
    float: left;
    text-align: center;
    height: 48px;
    line-height: 2em;
    font-size: 0.75em;
}

#zodiacinput {
    font-size: 1.65em;
    line-height: 1.7em;
    height: 1.7em;
    color: #fff;
    background: transparent;
    border: 1px solid #ccc;
    margin-top: 5px;
}
col-sm-6{
    text-align: left;
}*/