#ignore db config
singwa/Application/Common/Conf/db.php
!singwa/Application/Common/Conf/
basic/config/*
singwa/Application/Runtime/Logs/Home/*

vgmwx/public/tmp/*.txt
!vgmwx/public/tmp/
vgmwx/public/local/*
!vgmwx/public/local/
vgmwx/config.php