#ignore db config
singwa/Application/Common/Conf/db.php
!singwa/Application/Common/Conf/

singwa/Application/Runtime/Logs/Home/*
vgmwx/face.txt
vgmwx/facelist.txt
vgmwx/public/tmp/*.txt
!vgmwx/public/tmp/