<include file="Index/header"/>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div class="banner">
          <div class="banner-left">
              <div class="banner-info"><span>阅读数</span><i class="news_count node-{$res['topPic'][0]['news_id']}" news_id="{$res['topPic'][0]['news_id']}">{$res['topPic'][0]['count']}</i></div>
            <a  target='_blank' href="/index.php?c=detail&id={$res['topPic'][0]['news_id']}"><img width="670" height="360" src="{$res['topPic'][0]['thumb']}" alt="{$res['topPic'][0]['title']}"></a>
          </div>
          <div class="banner-right">
            <ul>
                <volist name="res['topSmallPic']" id="smallPic">
                    <li>
                        <a target="_blank" href="/index.php?c=detail&id={$smallPic.news_id}"><img width="150" height="113" src="{$smallPic.thumb}" alt="{$smallPic.title}"></a>
                    </li> 
                </volist>
            </ul>
          </div>
        </div>
        <div class="news-list">
            <volist name="res['lists']" id="list">
                <dl>
                    <dt>{$list.title}</dt>
                    <dd class="news-img">
                      <a target="_blank" href="/index.php?c=detail&id={$list.news_id}"><img width="200" height="120" src="{$list.thumb}" alt=""></a>
                    </dd>
                    <dd class="news-intro">
                      {$list.description}
                    </dd>
                    <dd class="news-info">
                      {$list.keywords} <span>{$list.create_time|date="Y-m-d H:i:s",###}</span> 阅读(<i news_id="{$list.news_id}" class="news_count node-{$list.news_id}">{$list.count}</i>)
                    </dd>
                  </dl>
            </volist>
        </div>
      </div>
      <!--网站右侧-->
      <include file="Index/right"/>
    </div>
  </div>
</section>
</body>
<script src="/Public/js/jquery.js"></script>
<script src='/Public/js/count.js'></script>
</html>